

#main {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
    background-color: rgb(95 29 51);
}

#main img{
    margin: 100px 265px;
    height: auto;
    width: 400px;
    border-radius: 25% 25% 25% 0%;
}

.info {
    padding: 10px 0px 0px 0px;
    height: 300px;
    width: 300px;
    margin: auto;
    background-color: rgb(95 29 51);
    color:  antiquewhite;
}

.social-icon{
    height: 30px;
    width: 30px;
    color: antiquewhite;
    
}

#about{
    height: auto;
    background-color: #95418f;
    width: auto;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
    
}

.card-1{
    padding: 50px;
    position: relative;
    color: antiquewhite;
    margin: 50px;
    height: 400px;
    width: 400px;
    background-color: rgb(95 29 51);
    border-radius: 0% 30% 30% 30%;
}

#footer{
    display: flex;
    align-items: center;
    justify-content: center;
    color: antiquewhite ;
    background: black;
    height: 75px;
    width: auto;
}

.email{
    margin: 100px;

}

.email input{
    
    height: 40px;
    width: 310px;
    padding: 12px 20px;
    background: rgb(95 29 51);
    border-radius: 25px;
    border-color: rgb(95 29 51);
    color: antiquewhite;
}

.email button{
    height: 40px;
    background-color: rgb(95 29 51);
    border-radius: 25px;
    border-color: rgb(95 29 51);
    color: antiquewhite;
}

.email input::placeholder{
    color: antiquewhite;
}

.email h3{
    color: antiquewhite;
    margin: 5px;
}
