.footer {
    background-color: var(--color1);
    color: var(--color5);
    padding: 20px;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.5px;
}