:root {
    --header-color: var(--color2);
    --header-font-color: var(--color1);
    --header-dark-color: var(--color3);
}

.Navbar {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--header-color);
}

.scrolling {
    background-color: white;
    opacity: 0.7;
    transition: all 0.3s ease 0s;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 0rem 2rem;
    overflow: hidden;
    width: auto;
    background-color: var(--header-color);
    /* opacity: 0.9; */
    color: var(--header-font-color);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
}

.left {
    align-items: flex-start;
    list-style-type: none;
    margin: 0;
    padding: 1rem;
    overflow: hidden;
    background-color: transparent;
    display: flex;
}

.left li{
    margin-top: 0.23rem;
    padding: 0.5rem 0.5rem;
    text-align: center;
    font-size: large;
}

.left li:hover {
    background-color: var(--header-dark-color);
    color: white;
    border-radius: 5px;
}

.right {
    align-items: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 1rem;
    overflow: hidden;
    background-color: transparent;
    display: flex;
}

.right a {
    text-decoration: none;
    color: var(--header-font-color);
}

.icon {
    font-size: large;
}

.right li {
    margin: 0;
    padding: 0.5rem 0.5rem;
}

.right li:hover {
    background-color: var(--header-dark-color);
    color: white;
    border-radius: 5px;
}

.right button {
    background-color: var(--header-color);
    color: var(--header-font-color);
    border: 2px solid var(--header-font-color);
    border-radius: 5px;
    margin: 0.25rem 2rem;
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.right button:hover {
    background-color: var(--header-font-color);
    color: white;
    border: 2px solid var(--header-font-color);
}