.Paper {
    background-color: var(--color4);
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    padding: 20px;
    width: 90%;
    max-width: 700px;
    margin: 100px;
}

.researchPapers__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    padding: 1rem;
}

.researchPapers__card__img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 100%;
    margin-top: -175px;
    object-fit: cover;
    background-color: whitesmoke;
}

.researchPapers__card__content {
    width: 600px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.researchPapers__card__content h1 {
    font-size: 1rem;
    font-weight: 600;
    color: var(--color1);
}

.researchPapers__card__content p {
    font-size: 0.75rem;
    font-weight: 300;
    color: var(--color1);
    margin: 20px 0;
}

.researchPapers__card__content button {
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid var(--color1);
    color: var(--color1);
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.researchPapers__card__content button:hover {
    background-color: var(--color1);
    color: aliceblue;
}

.Paper:hover {
    scale: 1.1;
    transition: all 0.3s ease-in-out;
}