:root {
    --projects-color: transparent;
    --projects-font-color: var(--color1);
    --projects-second-color: var(--color2);
}


.Projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 130vh;
    background-color: var(--projects-color);
    padding: 0 20px;
}

.Projects h1 {
    color: var(--projects-font-color);
    font-size: 3rem;
    font-weight: 800;
    margin: 0px;
    padding: 0px;
}

.cards {
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80vw;
}

.container {
    display: flex;
    height: 100vh;
}

.btn__left {
    background-color: var(--projects-color);
    border: 5px solid var(--projects-second-color);
    height: 70px;
    width: 70px;
    font-weight: 800;
    font-size: 2rem;
    border-radius: 100%;
    color: var(--projects-second-color);
    /* bring in center from the top */
    align-self: center;
    cursor: pointer;
}

.btn__right {
    background-color: var(--projects-color);
    border: 5px solid var(--projects-second-color);
    height: 70px;
    width: 70px;
    font-weight: 800;
    font-size: 2rem;
    border-radius: 100%;
    color: var(--projects-second-color);
    /* bring in center from the top */
    align-self: center;
    cursor: pointer;
}

.cards__wrapper {
    display: flex;
    transition: transform 0.5s ease;
    /* Add transition for smooth animation */
}
/* add code for mobile max-width 768 */

@media screen and (max-width: 1000px) {
    .Projects {
        min-height: 100vh;
        overflow: hidden;
    }

    .cards {
        display: none;
    }


    .mobile__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80vw;
        margin: 0 -2rem;
    }
}